[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "pytorch_palettized_layers"
version = "0.0.4"
requires-python = ">=3.8"
dependencies = [
    "torch",
    "scikit-learn",
    "numpy"
]
